@import '_breakpoint';
@import '_variables';
@import '_null';
@import '_template';

footer {
    min-height: 400px;
    background-image:linear-gradient(142deg, $colorWBlue 0%, $colorOcean 100%);
    background-image:linear-gradient(142deg, #A1C7D4 0%, #0680AA 100%);
    position: relative;
    @include devices ('lg') {
        display: flex;
        justify-content: center;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        max-width: 1180px;
        width: 100%;
        padding-top: 30px;
        margin: 0 auto;
        padding-bottom: 50px;
        @include devices ('lg') {
            flex-direction: column;
            width: auto;
        }
        &__left {
            display: inline-block;
            .footer__logo {
                display: flex;
                align-items:center;
                margin-bottom: 25px;
                @include devices ('lg') {
                    margin-bottom: 30px;
                } 
                .tooth__text {
                    display: block;
                    margin-left: 10px;
                    color: $colorBBlue;
                    font-family: 'Sofia Sans';
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 400;
                    @include devices ('sm') {
                        font-size: 25px;
                    } 
                }
            }
            .footer__zub {
                @include devices ('sm') {
                    width: 50px;
                } 
            }
            .footer__info {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                @include devices ('lg') {
                    height: 80px;
                } 
                .footer__menu {
                    padding: 0;
                    .footer__nav {
                        padding: 0;
                        margin-bottom: 45px;
                        list-style-type: none;
                        @include devices ('sm') {
                            margin-bottom: 25px;
                        } 
                        .footer__item {
                            margin-bottom: 15px;
                            .footer__link {
                                text-decoration: none;
                                color: $colorBBlue;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 135%;
                                &:hover {
                                    color: white;
                                }
                                @include devices ('sm') {
                                    font-size: 15px;
                                } 
                            }
                        }
                    }
                }
                .footer__time {
                    padding-top: 20px;
                    .working__hou {
                        list-style-type: none;
                        .hou__item {
                            padding-bottom: 20px;
                            color: $colorBBlue;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 135%;
                            @include devices ('sm') {
                                font-size: 15px;
                            } 
                        }
                        .hou__item--text {
                            color: $colorBBlue;
                            text-align: center;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            @include devices ('sm') {
                                font-size: 15px;
                            } 
                        }
                    }
                }
            }
            .lang__footer {
                display: flex;
                padding: 0;
                color: $colorBlack;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include devices ('sm') {
                    font-size: 15px;
                } 
                & li {
                    list-style: none;
                    margin: 0;
                    display: block;
                    padding-right: 13px;
                }
                & li:last-child::before {
                    content:' ';
                    height: 13px;
                    background-color: $colorBlack;
                    padding-left: 1px;
                    margin-right: 13px;
                }
                & li:hover {
                    color:white;
                }
                .ua__text {
                    color: $colorBlack;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    @include devices ('sm') {
                        font-size: 15px;
                    } 
                }
                & li a {
                    color: $colorBlack;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @include devices ('sm') {
                        font-size: 15px;
                    } 
                }
            }
           
        }
    }
}
.contacts {
    list-style-type: none;
    &_text {
        color: $colorWhite;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
        @include devices ('lg') {
            font-size: 21px;
            margin-top: 30px;
        }
        @include devices ('sm') {
            font-size: 24px;
        } 
    }
    &_name, &_address {
        color: $colorWhite;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 15px;
        @include devices ('sm') {
            font-size: 15px;
        } 
    }
    &_call {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: $colorWhite;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        @include devices ('sm') {
            font-size: 15px;
        } 
        .call__link {
            display: flex;
            align-items: center;
            & span {
                display: block;
                position: relative;
            
            }
            &::before {
                display: block;
                height: 28px;
                width: 28px;
                content: ' ';
                background-image: url('../img/footer/call.png');
                margin-right: 15px;
            }
        }
    }
    &_messengers {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .viber, .telegram {
            margin-right: 35px;
            margin-bottom: 10px;
        }
    }
    &_instagram {
        display: flex;
        color: $colorBWhite;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        align-items:center;
        margin-bottom: 18px;
        @include devices ('sm') {
            font-size: 15px;
        }
        &::before {
            content: ' ';
            display: block;
            height: 27px;
            width: 27px;
            background-image: url('../img/footer/instagram.png');
            margin-right: 13px;
        }
    }
    &_mail {
        display: flex;
        color: $colorWhite;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 12px;
        align-items:center;
        @include devices ('sm') {
            font-size: 15px;
        }
        &::before {
            display: block;
            height: 32px;
            width: 32px;
            content: ' ';
            background-image: url('../img/footer/email.png');
            margin-right: 6px;
        }
    }
    .call__link,
    .inst__link,
    .mail__link {
        position: relative;
        text-decoration: none;
        color: $colorWhite;
    }
    .inst__link::after,
    .mail__link::after {
        content:' ';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $colorWhite;
        opacity: 0;
        bottom: -4px;
    }
    .call__link span::after {
        content:' ';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $colorWhite;
        opacity: 0;
    }
    .call__link span:hover::after,
    .inst__link:hover::after,
    .mail__link:hover::after {
        opacity: 1;
    }
    .copyright {
        display: flex;
        margin-left:150px;
        color: $colorWhite;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @include devices ('sm') {
            font-size: 10px;
        }
    }
}
.footer__left, ul.contacts {
    @include devices ('lg') {
        margin-left: 0;
        width: auto;
    } 
}
ul.contacts {
    @include devices ('lg') {
        padding: 0;
        margin-left: 0;
    }
} 