$colorWBlue: #A1C7D4;
$colorBlue: #46B1DE;
$colorDBlue: #0591CC;
$colorOcean: #0680AA;
$colorBBlue: #0F2D4A;
$colorWBlack: #1B1D1F;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorBWhite: #DDE0DC;


  $xss: 0;
  $xs: 480px;
  $sm: 768px;
  $tb: 1024px;
  $md: 1280px;
  $lg: 1440px;
  $xl: 1680px;
  $xxl: 1920;